%h1.display-4.text-primary 追加
%p ※登録する読書データを入力してください。
= form_for(@card, url:{controller:'cards', action:'add'}) do |form|
  .form-group
    %label{:for => "title"} タイトル
    = form.text_field :title,{class:"form-control"}
  .form-group
    %label{:for => "author"} 著者
    = form.text_field :author,{class:"form-control"}
  .form-group
    %label{:for => "price"} 価格
    = form.text_field :price,{class:"form-control"}
  .form-group
    %label{:for => "publisher"} 出版社
    = form.text_field :publisher,{class:"form-control"}
  .form-group
    %label{:for => "memo"} コメント
    = form.text_area :memo,{rows:5, class:"form-control"}
  = form.submit "保存"
%p.link
  %a{:href => "/cards"}
    \&lt;&lt; ※トップページに戻る
